<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>com.learn.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCDemo2</display-name>
    <servlet-name>JDBCDemo2</servlet-name>
    <servlet-class>com.learn.JDBCDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCDemo2</servlet-name>
    <url-pattern>/JDBCDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCDemo3</display-name>
    <servlet-name>JDBCDemo3</servlet-name>
    <servlet-class>com.learn.JDBCDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCDemo3</servlet-name>
    <url-pattern>/JDBCDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCDemo4</display-name>
    <servlet-name>JDBCDemo4</servlet-name>
    <servlet-class>com.learn.JDBCDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCDemo4</servlet-name>
    <url-pattern>/JDBCDemo4</url-pattern>
  </servlet-mapping>
</web-app>